{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tables</h1>
    <p class="mb-4">Add Data<a target="_blank">
    </a>.</p>

    <!-- DataTales Example -->
    <form class="user">
        <div class="form-group">
            Name <input type="email" class="form-control form-control-user"
                   id="exampleInputEmail" aria-describedby="emailHelp"
                   placeholder="Enter Email Address...">
        </div>
        <div class="form-group">
            Upload Document<br>
            <input type="file"
                   id="myfile" placeholder="upload file here" name="myfile" >
        </div>

        <a href="index.html" class="btn btn-primary btn-user btn-block">
            Login
        </a>
        <hr>
    </form>

</div>
<!-- /.container-fluid -->

{% endblock content %}

